html, body {
    padding: 0px;
    margin: 0px;
    font-family: "Microsoft YaHei";
    width: 100%;
    height: 100%;
    -moz-user-select: none;
    position: relative;
}

#container {
    /*border-color: black;
    border-width: 1px 1px 1px 1px;
    border-style: solid;*/
    width: 1920px;
    height: 1080px;
    position: relative;
    background-image: url("../img/background.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
}

.item {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #333333;
    color: #333333;
    position: absolute;
    text-align: center;
    line-height: 20px;
    overflow: hidden;
    cursor: default;
    z-index: 1;
    font-size: 1.2em;
    transition:0.345s;
}

.item:hover {
    -webkit-transform:scale(1.4);
    /*-moz-transform:scale(1.4);*/
    color: white;
}

.detail-title {
    font-weight: bold;
}

.detail-img {
    max-width: 100%;
    height: auto;
    margin: 0px 0px 10px 0px
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    width: 300px;

    border-radius: 0.5em;
    box-shadow: 2px 2px 19px #aaa;
    -o-box-shadow: 2px 2px 19px #aaa;
    -webkit-box-shadow: 2px 2px 19px #aaa;
    -moz-box-shadow: 2px 2px 19px #aaa;
    -moz-border-radius: 0.5em;
    -webkit-transition: -webkit-box-shadow 0.15s ease-in;
    -moz-transition: -moz-box-shadow 0.15s ease-in;
    -o-transition: -o-box-shadow 0.15s ease-in;
    transition: box-shadow 0.15s ease-in;
}

.detail-title {
    clear: both;
}

.inline {
    float: left;
    display: inline-block;
}

.active {
    box-shadow: 0px 0px 2px 2px #CCFFFF;
    -o-box-shadow: 0px 0px 2px 2px #CCFFFF;
    -webkit-box-shadow: 0px 0px 2px 2px #CCFFFF;
    -moz-box-shadow: 0px 0px 2px 2px #CCFFFF;
    -moz-border-radius: 0.5em;
    -webkit-transition: -webkit-box-shadow 0.15s ease-in;
    -moz-transition: -moz-box-shadow 0.15s ease-in;
    -o-transition: -o-box-shadow 0.15s ease-in;
    transition: box-shadow 0.15s ease-in;
    transition:0.345s;
}

.begin {
    box-shadow: 0px 0px 5px 5px #6699CC;
    -o-box-shadow: 0px 0px 5px 5px #6699CC;
    -webkit-box-shadow: 0px 0px 5px 5px #6699CC;
    -moz-box-shadow: 0px 0px 5px 5px #6699CC;
    -moz-border-radius: 0.5em;
    -webkit-transition: -webkit-box-shadow 0.15s ease-in;
    -moz-transition: -moz-box-shadow 0.15s ease-in;
    -o-transition: -o-box-shadow 0.15s ease-in;
    transition: box-shadow 0.15s ease-in;
    transition:0.345s;
}

.end {
    box-shadow: 0px 0px 5px 5px #CCCCCC;
    -o-box-shadow: 0px 0px 5px 5px #CCCCCC;
    -webkit-box-shadow: 0px 0px 5px 5px #CCCCCC;
    -moz-box-shadow: 0px 0px 5px 5px #CCCCCC;
    -moz-border-radius: 0.5em;
    -webkit-transition: -webkit-box-shadow 0.15s ease-in;
    -moz-transition: -moz-box-shadow 0.15s ease-in;
    -o-transition: -o-box-shadow 0.15s ease-in;
    transition: box-shadow 0.15s ease-in;
    transition:0.345s;
}

.detail-close {
    float: left;
    z-index: 1001;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 10px;
}